* {
  padding: 0;
  margin: 0;
}




h1 {
  font-size: 30pt;
  text-align: center;
  color: blue;
  text-transform: uppercase;
  margin: 400px;
}

h2 {
  font-size: 30pt;
  text-align: center;
  color: pink;
  text-transform: uppercase;
}

.bigBoy {
  width: 100vw;
  height: 100vh;
  background: url('/images/pollynor/pollynorbeyou.jpg') 100% fixed;
}

.medium {
  padding: 300px;
}

.formCont {
  display: flex;
  /*position: relative;*/
}

.userTxt {
  color: black;
}

.indexBtn {
  margin: auto;
}

.indexForm {
  margin: auto;
}
