@font-face {
  src: url('/Julius_Sans_One/JuliusSansOne-Regular.ttf');
  font-family: jules;
}




* {
  padding: 0;
  margin: 0;
  font-family: jules;
}




h1 {
  font-size: 30pt;
  text-align: center;
  color: blue;
  text-transform: uppercase;
  /*margin: 250px;*/
}

h2 {
  font-size: 30pt;
  text-align: center;
  color: pink;
  text-transform: uppercase;
}

section {
  display: flex;
}
.top {
  width: 100vw;
  height: 500px;
  /*background-color: pink;*/
}

.bottom {
  width: 100vw;
  height: 500px;
  /*background-color: black;*/
}

.bigBoy {
  width: 100vw;
  height: 100vh;
  background: url('/images/pollynor/pollynorbeyou.jpg') 100% fixed;
  /*opacity: .8;*/
}

.medium {
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 157px;
  color: white;
  text-shadow: 0 0 20px black;
}

.medium h2{
  color: white;
  line-height: 130px;
}

.formCont {
  width: 400px;
  height: 400px;
  /*justify-content: center;*/
  background-color: transparent;
  /*opacity: .3;*/
  /*margin-left: 500px;*/

  /*position: relative;*/
}



.indexBtn {
  margin: auto;
}

.indexForm {
  /*margin: auto;*/
}

/*.indexTxt {
  margin-top: 10px;
}*/




/*home page style below*/

.postCont {
  margin: 20px;
}

.feedBox {
  padding: 0 30px;
  border-radius: 5px;
  width: 300px;
  height: 800px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, .2);
  justify-content: center;
  margin: 50px;
  overflow: scroll;
}

.txtArea{
  width: 400px;
  height: 400px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, .2);
}

.txtCont {
  margin: 50px;
}

.fas {
  font-size: 30px;
  color: black;
  top: 66px;
  position: relative;
  color: rgb(156, 171, 162);
}
button{
  height:30px;
  width:40px;
  color: none;
  background:none;
  border:none;

}
/*.txtBox {
  margin: 50px;
  width: 300px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, .2);
  border-radius: 7px;
  justify-content: center;
}*/

.home-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.postD {
  /*width: 30%;*/
  height: 10%;
  border: 2px black solid;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 5px;
  padding: 10px;
}

.topHome {
  width: 100vw;
  height: 350px;
  /*background-color: pink;*/
  background: url(/images/pollynor/nobodyknowssmall.jpg) 100%;
  background-position-y: -240px;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
  box-shadow: inset -1px 2px 33px rgba(0, 0, 0, .3);
}

.bottomHome {
  width: 100vw;
  height: 500px;
  /*background-color: pink;*/
  background: url(/images/pollynor/nobodyknowssmall.jpg) 100%;
  background-position-y: -560px;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
  box-shadow: inset -1px 2px 33px rgba(0, 0, 0, .3);

}

/*REGISTER STYLING BELOW*/

.sides{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.rightSide {
  width: 350px;
  height: 100vh;
  background: url(/images/pollynor/sevencpollynor_1000.jpg) 100% ;
  background-position-y: 1014px;
  background-position-x: -89px;
  /*margin: right;*/
  box-shadow: inset -1px 2px 33px rgba(0, 0, 0, .3);
}


.leftSide {
  width: 350px;
  height: 100vh;
  background: url(/images/pollynor/ninepollynorc.jpg) 100% ;
  background-position-x: -281px;
  background-position-y: 293px;
  overflow: hidden;
  /*margin: left;*/
  box-shadow: inset -1px 2px 33px rgba(0, 0, 0, .3);
}

.registerForm {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  /*background-color: rgb(211, 164, 179);*/
  /*opacity: .5;
  border: 2px solid black;*/
  margin: auto;
  padding: 50px;
  /*border-radius: 5px;*/
  /*box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .2);*/
  /*color: white;*/
  /*z-index: 1000;*/

}

.regForm {
  margin-bottom: 25px;
  /*color: white;*/
}

.signup-input {
  margin-bottom: 25px;
  font-family: jules;
  /*  color: white;*/
}

.input-register{
  margin-bottom: 15px;
  height: 25px;
  border-radius: 6px;
}

.userTxt {
  color: black;
  margin-bottom: 25px;
  font-family: jules;
  /*color: white;*/
}

.material-icons {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 25px;
  padding: 8px;
  cursor: pointer;
  transform: scale(1.2);
  margin-top: 15px;
}


















