<% include ../boiler/begBoil %>



<div class="home-wrapper">


    <div class="postCont">
      <div class="feedBox">
        <!-- <h1>this is where post belong</h1> -->
        <% post.forEach((actions) => { %>
       <i class='fas fa-user-secret'></i>
        <div class="postD">
        <p> <%=actions.post %> </p>
      </div>

     <% }) %>

      </div>
    </div>







    <div class="txtCont">
        <!-- <h1>this is where i begin to write post</h1> -->
        <form class="txtForm" action="/post" method="POST">

        <label>
          <textarea class="txtArea" name="post" rows="8"></textarea>
          <input type="hidden" name="user_id" value="<%= user %>"/>


        </label>

      <button type="submit"><i class='fas fa-pencil-alt'></i></button>
      </form>
    </div>
</div>


<!-- to style icon use class fas -->





<h1 onclick="{ window.location.href = '/users/logout' }">logout</h1>

<% include ../boiler/endBoil %>
