<% include ../boiler/begBoil %>

<div class="top">
  <!-- <h1> TOP SPACE </h1> -->
</div>
<!-- <h1> TOP SPACE </h1> -->

<section class="bigBoy">

<div class="medium">

  <!-- <a href="/register"><h1>REGISTER</h1></a> -->
<center>
  <div class="formCont">

      <form class= "indexForm" action="/home" method="POST">
        <h2 class="userTxt"> SIGN IN </h2>
        <label>
          <h3> USERNAME </h3>
          <input class="input-register" type="text" name="username">
        </label>
        <label>
          <h3> PASSWORD </h3>
          <input class="input-register" type="password" name="pword">
        </label> <br/>

        <button class="indexBtn" type="submit"><i class="material-icons">fingerprint</i></button>

      </form>

</div>
 </center>




</div>
</section>
<div class="bottom">

</div>

<a href="/register"><h1>REGISTER</h1></a>




<% include ../boiler/endBoil %>
