<% include ../boiler/begBoil %>


<h1> TOP SPACE </h1>

<section class="bigBoy">
<div class="medium">
  <div class="formCont">
  <form class= "indexForm" action="/" method="POST">
    <h2 class="userTxt"> SIGN UP/ SIGN IN </h2>
    <label>
      <h3> USERNAME </h3>
      <input type="text" name="username">
    </label>
    <label>
      <h3> PASSWORD </h3>
      <input type="text" name="password">
    </label>
    <input type="submit" class="indexBtn">

  </form>
</div>


  <h2 class="small">
    MIDDLE SPACE
  </h2>

</div>
</section>

<h1> BOTTOM SPACE </h1>



<% include ../boiler/endBoil %>
