<% include ../boiler/begBoil %>

<div class="registerForm">
  <form class= "indexForm" action="/users/register" method="POST">
    <h2 class="userTxt"> SIGN UP/ SIGN IN </h2>
    <label>
      <h3> USERNAME </h3>
      <input type="text" name="username" height="40">
    </label>
    <label>
      <h3> PASSWORD </h3>
      <input type="text" name="password">
    </label>
    <input type="submit" class="indexBtn">

  </form>

</div>



<% include ../boiler/endBoil %>
